header {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo a {
  display: block;
  text-decoration: none;
}

.logo img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

nav a {
  text-decoration: none;
  color: #103868;
  font-weight: 500;
  transition: color 0.3s;
  font-family: var(--title-font);
}

nav a:hover {
  color: #007bff;
}

.mobile-menu {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  nav {
    display: none;
  }

  .mobile-menu {
    display: block;
  }

  .logo img {
    height: 40px;
  }
}
